<%- include('header'); -%>

<body>
  <div class="box" id="heading">
    <h1><%= ListTitle%></h1>
  </div>
  <div class="box">
    <% UserTaskInput.forEach(function(item){ %>
      <form class="checkBox" action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name = <%= ListTitle+"_"+ item._id %>  onchange="this.form.submit()">
          <p> <%= item.name %> </p>
        </div>
      </form>


    <% }); %>

    <div class="item">
      <form action="/" method="post">
        <input type="text" name="task" placeholder="New Item">
        <button type="submit" value="<%= ListTitle%>" name="submit">+</button>
      </form>
    </div>
  </div>

</body>
<%- include('footer'); -%>
